// -- Equal Spaced Columns -- //
// Usage
// @include equalSpaced(2, 5%, 100%);
// @include equalSpaced(2, 5px, 100px);

// Number of Columns - First Column
// Remaining Number of Columns * Margin Spacing
// Container Width - Total Margin Spacing
// Remaining Width / Total Number of Columns

@mixin equalSpaced( $num_of_cols, $spacing, $container_width  ){
  
  width: ( $container_width - ( $spacing * ($num_of_cols - 1) ) ) / $num_of_cols;
  margin-left: $spacing;
  float:left;
  margin-top: $spacing;
  
  // Remove Spacing from First Child
  &:first-child{
    margin-left: 0;
  }
  
  // When there's more than one row of columns
  
  // Remove margin-left of the first element in the row.
  &:nth-child( #{$num_of_cols}n + 1){
    margin-left: 0;
  }
  
  // Top Row Remove Margin Top
  @for $i from 1 through $num_of_cols {
      &:nth-child(#{$i}) {
          margin-top: 0;
      }
  }

  
}

